.sidebar {
    grid-area: nav;
    background-color: burlywood;
    margin: 0 0 0 0;
    padding: 20px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item .activeLink {
    color: gold;
}