

.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
}


.dialogsItems {
    padding: 10px;
}

.dialogsItems a {
    text-decoration: none;

}


.messagesItems {
    padding: 10px;
    color: #1479fb;
}

.message {

}

.dialog img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
}

.activeLink {
    color: red;
    text-decoration: none;
}
