.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
}


.dialogsItems {
    padding: 10px;
    text-decoration: none;
}


.messagesItems {
    padding: 10px;
}

.message {

}

.dialog img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.activeLink {
    color: gold;
    text-decoration: none;
}
